<%- include('partials/header.ejs') %>
<div class="transp">
  <h1>Customers</h1>
  <div class="container">
    <% users.forEach(function(user) { %>
    <a href="/user/<%= user._id %>"><button class="btn btn-lg btn-primary button"><%= user.name %></button></a>
    <%}); %>
  </div>
</div>
<%- include('partials/footer.ejs') %>
