<%- include('partials/header.ejs') %>
<h1>There are no Transactions for <%= name %></h1>
<div class="Home">
  <a href="/"><button class="btn btn-lg btn-primary">Go Back to main page</button></a>
</div>
<%- include('partials/footer.ejs') %>
